# Copy and rename this file as "datajoint.env" and set your custom password

# Datajoint config
MYSQL_ROOT_PASSWORD=example
# DATAJOINT_DATABASE_CONFIG_MONITOR=FALSE # Enable MySQL config monitoring, auto reload
